.ban{
    width: 689px ;
height: 151px ;
top: 280px ;
margin-left: 115px ;
border: 1px ;

font-size: 135px;
font-weight: 800;
line-height: 103px;
letter-spacing: 0em;
text-align: left;

}

.frs{
    width: 710px ;
height: 144px ;
top: 396px ;
margin-left: 424px ;
border: 2px ;

font-size: 135px;
font-weight: 800;
line-height: 103px;
letter-spacing: 0em;
text-align: left;


}

.lo{
    width: 527px ;
height: 103px ;
top: 505px ;
margin-left: 187px ;
border: 1px ;

font-size: 135px;
font-weight: 800;
line-height: 103px;
letter-spacing: 0em;
text-align: left;


}