<div class="rectangle1">
<img src="assets\Images\NewPro.png" class="qwe">
<img src="assets\Images\Group 17.png" class="line" />
<h3 class="app">Apparel</h3>
<h3 class="assc">Accessories</h3>
<h3 class="best">Best Sellers</h3>
<h3 class="fif">50%off</h3>
<div class="dav">
    <img src="assets\Images\philipp-arlt-8EyB_RvaWtY-unsplash (1).png"  class="photo"/>
    <img src="assets\Images\zam-nungaray-acw3b7q6Ys0-unsplash (1).png" class="zam" />
    <img src="assets\Images\malicki-m-beser-PKMvkg7vnUo-unsplash (1).png"  class="mali"/>
    </div>

       
    
</div>





