.rectangle1{
    width: 1440px;
height: 749px;
top: 41px;
opacity: 0.5px;

}

.qwe{
    width: 689px;
height: 151px;
top: 860px;
left: 83px;

}

.app{
font-family: Work Sans;
font-size: 18px;
font-weight: 400;
line-height: 21px;
letter-spacing: 0em;
text-align: left;
width: 68px;
height: 21px;
top: 999px;
left: 91px;


}

.assc{
font-family: Syne;
font-size: 26px;
font-weight: 600;
line-height: 31px;
letter-spacing: 0em;
text-align: left;

width: 158px;
height: 31px;
top: 1043px;
left: 91px;

}

.best{
font-family: Work Sans;
font-size: 18px;
font-weight: 400;
line-height: 21px;
letter-spacing: 0em;
text-align: left;
width: 104px;
height: 21px;
left: 91px;
}

.photo{
    margin-left: 350px;
    padding-bottom: 200px;
    width: 210px;
height: 222px;

}

.zam{
    width: 204px;
height: 222px;
padding-bottom: 200px;

}

.fif{
font-family: Work Sans;
font-size: 18px;
font-weight: 400;
line-height: 21px;
letter-spacing: 0em;
text-align: left;

width: 67px ;
height: 21px ;
top: 1138px ;
left: 91px ;


}

.mali{
    width: 205px;
    height: 222px;
    top: 998px;
    left: 1012px;
    padding-bottom: 200px;
    

}

.dav{
    padding-bottom: 320px;
}

.line{
    padding-left: 50px;
}